@import '~antd/lib/style/themes/default.less';

:global {
  .ant-tabs {
    color: rgba(255, 255, 255, 0.65);
  }
  .ant-tabs-bottom > .ant-tabs-bar {
    background-color: #001529;
    margin-top: 0px;
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 16px 0 0px;
    min-width: 120px;
    padding: 12px 16px;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color:white;
    background: #50585f;
  }
  
  .ant-tabs-ink-bar {
    background-color: rgb(24, 144, 255);
  }

  .ant-tabs-nav .ant-tabs-tab:hover {
    color: white;
  } 

  .ant-tabs-tab .anticon {
    margin-left: 20px;
    // padding:0;
    line-height: 21px;
    font-size: 14px;
    vertical-align: middle;
  }

  .ant-tabs-nav .ant-tabs-tab-active .anticon {
    color:rgba(255, 255, 255, 0.65);
  }

  .ant-tabs-nav .ant-tabs-tab .anticon:hover {
    color: white;
  }
}

.closeTab {
  position: absolute;
  width: 47px;
  height: 44px;
  border:0;
  padding:0;
  right: 0;
  z-index: 8;
  background: url("../assets/module_close.png");
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}